@import '~/css/helpers';

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .paragraph {
    font-size: tovw(64px, 56px, 'desktop-large');
    font-weight: 900;
    max-width: max-content;
    margin: 0 auto;
    text-transform: uppercase;
    line-height: calc(86 / 72);
    display: flex;
    flex-direction: column;
    font-family: var(--font-expanded);

    @include respond-to('tablet') {
      font-size: tovw(24px, 12px, 'tablet');
    }

    @include respond-to('tablet-lg') {
      font-size: tovw(42px, 28px, 'desktop');
    }

    .highlight {
      color: var(--color-orange);

      &::selection {
        background-color: var(--color-orange);
        color: var(--color-white);
      }
    }
  }

  .cap {
    position: absolute;
    width: 22vw;

    @include respond-to('tablet') {
      display: none;
    }
  }
}
