@import '~/css/helpers';

.container {
  display: grid;
  gap: tovw(32px, 16px, 'desktop');
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: tovw(700px, 400px, 'desktop') tovw(
      500px,
      300px,
      'desktop'
    );

  .imageContainer {
    position: relative;
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
